.landing-page-container{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
.welcome-section{
    width: 60vw;
}
.card-section{
    width: 500px;
    margin: 20px 40px;
}

@media screen and (max-width: 1000px) {
    .landing-page-container{
        flex-direction: column;
        width: unset;
        align-items: center;
    }
    .welcome-section{
        margin-bottom: 60px;
        width: 100vw;
    }
    .card-section{
        width: 500px;
    }
}