.post-text-containers{
    text-align: left;
}
.button-container{
    display: flex;
    justify-content: center;
}

.post-page-container{
    padding: 0px 15px;
}

.tag-container{
    width: 100%;
    border: 1px solid grey;
}