.logo-container {
    padding: 10px
}

.logo {
    height: 450px;
    width: 450px;
}

.message{
    font-size: 16px;
    font-weight: 700;
}

.learn-more {
    border-radius: 5px;
    border: none;
    color: blue;
    background-color: white;
}

.learn-more:hover {
    color: white;
    background: black;
}