.about-page-container{
    padding: 0px 15px;
}

.image-container{
    max-width: 1000px;
    overflow: hidden;
    border: 1px solid grey;
}

.about-page-images{
    width: 100%;
    object-fit: contain;
}

.text-container{
    text-align: left;
    padding: 10px 0px;
}