
.article-edit-container{
    width: 800px;
    height: 80%;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.input-container{
    overflow-y: scroll;
}

.save-button{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}